{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <p>Format date début: &nbsp; AAAA-MM-JJ HH:MM &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;Exemple: &nbsp; 2021-05-17 13:17 &nbsp; => &nbsp; &nbsp;le 17 mai 2021 à 13h17</p>
    <p>Le blocage des inscriptions des personnes non prioritaires n'est pas activé par défault. Il faut gérer ce blocage manuellement.</p>
    <p>Pour activer ce blocage, veuillez vous rendre dans l'interface d'administration (bouton Admin).</p>
    <div class="row">
        <div class="col-12 col-md-3 login-form">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" id="submit">Valider</button>
        </form>
            </div>
    </div>
{% endblock %}